.toast {
  display: none;
  z-index: 1;
  width:200px;
  height:20px;
  height:auto;
  position: fixed;
  left:50%;
  top: 5%;
  margin: 10px;
  margin-left:-100px;
  background-color: #383838;
  color: #F0F0F0;
  font-family: Calibri;
  font-size: 20px;
  padding:10px;
  text-align:center;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.navbar-brand.logo {
  padding: 5px 15px;
}

 .navbar-brand.logo .logo-img {
    height: 45px;
    display: inline-block;
}

.navbar-version {
  font-size: 10px;
  color: #ccc
}

.contact{
  padding-bottom:1% !important;
}

.alinhamentoRenovar{
  display:inline;
}

textarea{
  resize: none;
  
}

#addContact{
  margin-bottom: 2% !important;
}

table.text-center thead tr th{
  text-align: center;
}

table.table-donations tbody tr td:nth-child(2), 
table.table-associated tbody tr td:nth-child(2),
table.table-donations thead tr th:nth-child(2), 
table.table-associated thead tr th:nth-child(2),
table.table-birthday thead tr th:nth-child(3),
table.table-birthday td:nth-child(3)
{text-align: left !important}


table.table-donations tbody tr td:nth-child(5),
table.table-donations thead tr th:nth-child(5)
{text-align: right !important}

table.table-donations ul li{
  list-style: none;
}

table.table-collections thead tr th:nth-child(2),
table.table-collections thead tr th:nth-child(3),
table.table-collections tbody tr td:nth-child(2),
table.table-collections tbody tr td:nth-child(3)
{text-align: center !important;}

table.table-collections thead tr th:nth-child(4),
table.table-collections tbody tr td:nth-child(4)
{text-align: right !important;}

.no-padding-left{padding-left: 0;}

.full-center{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.partner_img{
  width: 70%;
}

.well.donations .page-header,
.well.donations .page-header h2{
  margin: 0px !important; 
}

/*Filter*/

.filter{
  padding: 15px;
}

.filter-plus{
  display: none;
}

.filter span{
  font-size: 1.6rem;
}

.filter input,
.filter select{
  width: 200px !important;
}


.filter .input-group{
  display: grid;
}

.filter .btn-group{
  display: table;
  vertical-align: middle;
  margin-top: 15px;
}

.filter .btn{
  padding: 8px 10px;
  width: 92px;
}

.filter .button-groups{
  padding-top: 1.3em;
}

.content-filter [class *= 'col-lg']{
  width: 20% !important;
}

#email {
  width: 500px;
  height: 408px;
}
